#canvas {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-18 {
  font-size: 22;
}

.zoom15 {
  zoom: 1.5;
}

#knn-table {
  margin-top: 40px;
}

#k-label {
  max-width: 35px;
  margin-right: 3px;
}

#k-input {
  max-width: 100px;
}

.td-remove-row {
  width: 20px;
}

.td-editable:hover {
  cursor: cell;
}

#dataset-table-body > tr > td {
  vertical-align: middle;
}

#precision-table-body > tr > td {
  padding: 0;
  height: 37.78px;
  vertical-align: middle;
}
