#canvas {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.font-18 {
  font-size: 22;
}

.zoom15 {
  zoom: 1.5;
}

.table-container {
  margin-top: 38px;
}

#k-label {
  max-width: 35px;
  margin-right: 3px;
}

.td-remove-row {
  width: 20px;
}

.td-editable:hover {
  cursor: cell;
}

#dataset-table-body > tr > td {
  vertical-align: middle;
}

#precision-table-body > tr > td {
  padding: 0;
  height: 39px;
  vertical-align: middle;
}

.modebar-group {
  margin-top: 5px !important;
  margin-right: 35px !important;
}

#mouse-position {
  position: absolute;
  z-index: 10;
  left: 45px;
  margin-top: 10px;
}

.divider {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.3);
  margin: 10px 0 20px 0;
}

.legendundefined {
  stroke: black;
  stroke-width: 1px!important;
}

#optimum-k-reference {
  display: inline-flex;
  position: absolute;
  margin-top: -30px;
}

#optimum-k-color-reference {
  width: 25px;
  height: 25px;
  background-color: rgb(255, 221, 87);
}

#optimum-k-label-reference {
  margin-left: 5px;
}

.column > .box{
  height: 100px;
}

select {
  width: 100%;
}